export(rite)
export(riteout)
export(sinkstart)
export(sinkstop)

import(tcltk)
import(knitr)
importFrom(tcltk2, tk2notebook, tk2notetab, is.ttk)
importFrom(utils, available.packages, install.packages)
importFrom(RCurl, getURL, postForm)
importFrom(tools, texi2pdf, file_path_sans_ext)
importFrom(markdown, rpubsUpload)
importFrom(formatR, tidy_source, tidy_eval)
importFrom(stats, na.omit)
importFrom(utils, Sweave, apropos, browseURL, capture.output, help, 
                  help.search, loadhistory, packageDescription, 
                  savehistory, update.packages)
