export(rite)
export(riteout)
export(sinkstart)
export(sinkstop)

import(tcltk)
importFrom(tcltk2, tk2notebook, tk2notetab, is.ttk) # tk2ctext: no longer calling `tk2ctext` directly
importFrom(utils, available.packages, install.packages)
importFrom(RCurl, getURL, postForm)
importFrom(tools, texi2pdf, file_path_sans_ext)
